@page "/"

<Container Fluid Flex="Flex.Column" Border="Border.Dark">
    <EntitySpawer SpawnGameEntity="GameObjectsChanged" RenderTarget="GameObject"/>
    @foreach (var gameObject in _gameObjects)
    {
        <Div>@gameObject</Div>
    }
</Container>

@code
{
    readonly List<string?> _gameObjects = new();

    private void GameObjectsChanged(string? gameObject)
    {
        _gameObjects.Add(gameObject);
    }
}
